.cities {
    margin: 80px auto;
    margin-bottom: 95px;
}

.citiesheader {

    color: #363636;
    font-size: 2.3rem;
    font-weight: 400;
    margin-bottom: 35px;

}

.citiesItems {
    justify-content: space-between;
    box-shadow: rgba(28, 28, 28, 0.08) 2px 3px 4px 0px;
    border: 1px solid rgb(232, 232, 232);
    cursor: pointer;
    border-radius: 7px;
    margin: 11px 0;
    margin-right: 20px;
    padding: 11px 17px;
}

.citiesItems:hover {
    box-shadow: rgba(28, 28, 28, 0.08) 2px 3px 13px 3px;
}

.citiesPlaces {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.citiesTitle {
    color: #1c1c1c;
    margin: 0;
    font-size: 1.2rem;
    font-weight: 500;
    padding-bottom: 5px;
}

.citiesPlace {
    margin: 0;
    color: #363636;
    font-size: 0.95rem;
    font-weight: 400;
}

.citiesIcon {
    font-size: 0.7rem !important;
}